/* Show it is fixed to the top */
body {
  min-height: 55rem; /* แก้ตรงนี้ เพราะมันทำให้หน้าเว้บล้นออกมาทำให้ไม่เห้น footer*/
  padding-top: 4rem;
}

h1 {
  font-size: 40px;
}
.img-01 {
  width: 100%;
  height: 100%;
  float: right;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.img-01 {
  float: left;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/images/shark.gif) center no-repeat #fff;
}

.hero-area .hero-inner::before {
  position: absolute;
  content: "";
  right: 0;
  width: 50%;
  background-image: url(../images/hero/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  height: 100%;
  top: -100px;
  z-index: 1;
  border-radius: 0;
  border-radius: 100%;
  height: 800px;
  width: 800px;
  right: -135px;
  z-index: -1;
}
